.fromContainer {
  padding: 16px;
}

.label {
  font-size: 24px;
  margin-bottom: 12px;
}

.contentArea {
  min-height: 1em;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.tagContainer {
  min-height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
}