.done {
  margin: 16px 8px;
  padding: 16px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 10px 20px -10px rgba(#000000, .1);

  .doneContent {
    font-size: 20px;
  }

  .tagContainer {
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}