.formContainer {
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 16px;
}

.label {
  font-size: 18px;
  margin-bottom: 8px;
}

.nameArea {
  min-height: 1em;
  width: calc(100% - 16px);
  min-width: calc(100% - 16px);
  max-width: calc(100% - 16px);
  padding: 8px;
}

.submitButton {
  margin: 24px 0 0 0;
  box-shadow: none;
}