.modalBackground {
  background: rgba(0,0,0,.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalNone {
  display: none;
}

.contentContainer {
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 30px;
  padding: 16px;
  box-shadow: 0px 10px 20px -10px rgba(#000000, .1);
}